.FaToilet {
  text-align: center;
}
.nav-header {
  padding-bottom: 40px;
}
.topbg {
  background: comfybrown;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #33acff;
  width: 100vw;
}

.btn-position {
  position: relative;
  bottom: 80px;
  left: 10px;
}
span {
  font-size: 50px;
  font-family: "Modak", cursive;
  font-weight: 700;
}
