.FaToilet {
  text-align: center;
}
.nav-header {
  padding-bottom: 40px;
}
.topbg {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #33acff;
  width: 100vw;
}

.btn-position {
  position: absolute;
  top: 7.7rem;
  left: 13.5rem;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
}
span {
  font-size: 50px;
  font-family: "Modak", cursive;
  font-weight: 700;
}
