.FaToilet {
  text-align: center;
}
.nav-header {
  padding-bottom: 40px;
}
.topbg {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #33acff;
  width: 100vw;
}

element.style {
}
.btn-position {
  position: absolute;
  top: 122px;
  left: 215px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  background-color: #fff;
  border: none;
  border-radius: 22px;
  box-shadow: 0 1px 4px -1px rgb(0 0 0 / 30%);
}
span {
  font-size: 50px;
  font-family: "Modak", cursive;
  font-weight: 700;
}
